matplotlib==3.9.3
scikit-learn==1.4.2
pandas==2.1.2
seaborn==0.13.2
ipykernel==6.29.5
librosa==0.10.2.post1
torch==2.0.0
torchaudio==2.0.1
torchinfo==1.8.0
torchsummary==1.5.1
torchvision==0.15.0
pydub==0.25.1
tqdm==4.67.1
noisereduce==3.0.3
wandb==0.21.0
Levenshtein==0.27.1